
@use "./../abstract";

/* Preloader CSS */ 

.preloader{
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
}

.loading-wrapper,
.loading{
	height: 100px;
	position: relative;
	width: 100px;
	border-radius: 100%;
}

.loading-wrapper{
	margin: 40px auto;
}

.loading{
	border: 1px solid transparent;
	border-color: transparent var(--primary-color) transparent var(--primary-color);
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}

.loading-wrapper:hover .loading,
.loading-wrapper .loading{
	transition: all 0.5s ease-in-out;
}

#loading-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 66px;
	transform: translate(-50%, -50%);
}


@keyframes rotate-loading{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}
/*  Back To Top */

.scrollTop{
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: $primary-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $heading-color;
    z-index: 1;
    &:hover{
        color: $heading-color;
    }
}


